<h1 align="center">Exercícios sobre Funções</h1>

## Exercício 01

Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) <br>
depois faça uma chamada à função para listar os números

In [48]:
def imprimePares():
    for i in range(1, 21):
        if i % 2 == 0: 
            print(i)

imprimePares()

2
4
6
8
10
12
14
16
18
20

## Exercício 02

Crie uma função que receba uma string como argumento <br>
retorne a mesma string em letras maiúsculas.<br>
Faça uma chamada à função, passando como parâmetro uma string

In [4]:
def upperCase(text):
    return text.upper()

upperCase('Python')

'PYTHON'

## Exercício 03

Crie uma função que receba como parâmetro uma lista de 4 elementos <br>
adicione 2 elementos a lista e imprima a lista

In [50]:
def addElementos(lista):
    lista.append(20)
    lista.append(30)

lista = [10, 40, 50]
addElementos(lista)
print(lista)

[10, 40, 50, 20, 30]

## Exercício 04

Crie uma função que receba um argumento normal e uma possível lista de elementos. <br>
Faça duas chamadas à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [51]:
def argumentos(arg1, *lista):
    print('Valor do parâmetro:', arg1)
    
    for i in lista:
        print('Valro do parâmetro:', i)

In [55]:
argumentos(10)
argumentos('Casa', 'Carro', 'Moto', 'Barco')

Valor do parâmetro: 10
Valor do parâmetro: Casa
Valro do parâmetro: Carro
Valro do parâmetro: Moto
Valro do parâmetro: Barco

## Exercício 05

Crie uma função anônima e atribua seu retorno a uma variável chamada soma. <br>
A expressão vai receber 2 números como parâmetro e retornar a soma deles

In [31]:
soma = lambda num1, num2: num1+num2

soma(10, 2)

12

## Exercício 06

Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local

```python
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;

soma( 10, 20 );
print ("Fora da função o total é: ", total)
```

In [57]:
total = 0  # variável global
def soma( arg1, arg2 ):
    total = arg1 + arg2;  # variável local
    print ("Dentro da função o total é:", total)
    return total;  # retornando o valor da variável local


soma( 10, 20 );
print ("Fora da função o total é:", total)  #

Dentro da função o total é: 30
Fora da função o total é: 0

## Exercício 07

Abaixo você encontra uma lista com temperaturas em graus Celsius
- Crie uma função anônima que converta cada temperatura para Fahrenheit
- Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função 
- (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
- Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!
```python
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(coloque_aqui_sua_função_lambda)
print (list(Fahrenheit))
```

In [64]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda c: (9/5)*c + 32, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

## Exercício 08

Crie um dicionário e liste todos os métodos e atributos do dicionário

In [65]:
dicio = {'Chave1': "Valor 1", 'Chave2': 'Valor2'}

print(dir(dicio))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Exercício 09

Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados. <br>
Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.
```python
import pandas as pd
dir(pd)
```

In [45]:
import pandas as pd
print(dir(pd))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

## Exercício 10

- ************* Desafio ************* (pesquise na documentação Python)

- Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
- do arquivo. Dica, use Pandas e um de seus métodos, describe()
- Arquivo: "binary.csv"
```python
import pandas as pd
file_name = 'binary.csv'
```

In [69]:
import pandas as pd
file_name = 'binary.csv'

def resumoEstatistico(file):
    df = pd.read_csv(file_name)
    return df.describe()

resumoEstatistico(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000

## Próximo Assunto

## [Arquivos Parte 1](01-Arquivos-Parte1)

## Assunto Anterior

### [Exercícios Loops e Condicionais ](./08-Exercicios-Loops-Condicionais.ipynb)