# Exercícios em Python

## Exercício 01

Imprima na tela os números de 1 a 10. 
Use uma lista para armazenar os números.

In [1]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercício 02

Crie uma lista de 5 objetos e imprima na tela

In [2]:
objetos = ['Mesa', 'Cama', 'Caderno', 'Geladeira', 'Fogão']
print(objetos)

['Mesa', 'Cama', 'Caderno', 'Geladeira', 'Fogão']

## Exercício 03

Crie duas strings e concatene as duas em uma terceira string

In [3]:
nome = 'Pedro '
sobrenome = 'Amaral Júnior'
nome_completo = nome + sobrenome

print(nome_completo)

Pedro Amaral Júnior

## Exercício 04

Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 <br>
e depois utilize a função count do objeto tupla para verificar <br>
quantas vezes o número 4 aparece na tupla <br>

In [4]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
print(tupla.count(4))

3

## Exercício 05

Crie um dicionário vazio e imprima na tela

In [5]:
dicionario = {}
print(dicionario)

{}

## Exercício 06

Crie um dicionário com 3 chaves e 3 valores e imprima na tela.

In [6]:
dicionario2 = {'K1':'Valor 1', 'K2':'Valor 2', 'K3':'Valor 3'}
print(dicionario2)

{'K1': 'Valor 1', 'K2': 'Valor 2', 'K3': 'Valor 3'}

### Exercício 07

Adicione mas um elemento ao dicionário criado no exercício anterior e imprima na tela

In [7]:
dicionario2['K4'] = 'Valor 4'
print(dicionario2)

{'K1': 'Valor 1', 'K2': 'Valor 2', 'K3': 'Valor 3', 'K4': 'Valor 4'}

###  Exercício 08

Crie um dicionário com 3 chave e 3 valores. <br>
Um dos valores deve ser uma lista de 2 elementos numéricos. <br>
Imprima o dicionário na tela

In [8]:
dicionario3 = {"K1":"Valor 1", "K2_lista":[10, 20], "K3":'Valor 3'}
print(dicionario3)

{'K1': 'Valor 1', 'K2_lista': [10, 20], 'K3': 'Valor 3'}

### Exercício 09

Crie uma lista de 4 elementos. 
O primeiro elemento deve ser uma string<br>
O segundo uma tupla de 2 elementos<br>
O terceiro um dcionário com 2 chaves e 2 valores e <br>
O quarto elemento um valor do tipo float.<br>
Imprima a lista na tela

In [9]:
lista = ["Primeiro Elemento", ("Tupla Elemento1", "Tupla Elemento2"), {"K1":'Valor1', "K2":'Valor2'}, 14.15]
print(lista)

['Primeiro Elemento', ('Tupla Elemento1', 'Tupla Elemento2'), {'K1': 'Valor1', 'K2': 'Valor2'}, 14.15]

### Exercício 10

considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18 <br>
'Cientista de Dados é o profissional mais sexy do século XXI'

In [10]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase[0:18])

Cientista de Dados

## Assunto do Próximo Capítulo

### [If, Elif e Else](https://github.com/MoisesSantosC/cursoPythonDSA/blob/main/Cap02/Notebooks/01-If-Elif-Else.ipynb)

## Assunto Anterior

### [Tuplas](./06-Tuplas.ipynb)